.dropdown_car{
    background-color: transparent;
}

.dropdown_car__image{
    width: 100%;
    height: 100%;
}

.dropdown_car__title{
    color: #00BFE9;
    font-size: 1.5vw;
}

.dropdown_car__container_image__content{
    position: absolute;
    right: 5vw;
}

.dropdown_car__container_image__content{
    list-style: none;
    text-align: start;
    font-size: 1.2vw;
    color: #00BFE9;
    font-weight: bolder;
}